{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es2020",
    "baseUrl": ".",
    "paths": {}
  },
  "exclude": [
    "node_modules",
    "build"
  ],
  "sourceMaps": false,
  "minify": false
}